<span>
  <button (click)="showOld = true">Spettacoli attuali</button>
  <div
    *ngIf="showOld === true"
    [ngStyle]="{ border: '0.5px solid black', padding: '1%' }"
  >
    <div #spettacoli *ngFor="let spettacolo of arrayNomeSpettacoli">
      <p>{{ spettacolo }}</p>
    </div>
    <button (click)="showOld = false">Nascondi</button>
  </div>
  <div>
    <p>Inserisci il nome dello spettacolo</p>
    <button (click)="NewresetPrenotazioni()">BOTT</button>
    <input
      type="text"
      id="nomeSpettacolo"
      [formControl]="nomeSpettacolo"
      placeholder="nome dello spettacolo?"
    />
    <div *ngIf="nomeSpettacolo.value">
      <div [ngClass]="'container'">
        <p>Configura la platea</p>
        <app-selezione
          [nomeElem]="'file'"
          [elementi]="elementiPlatea"
          [(selezionato)]="filePlatea"
        ></app-selezione>
        <app-selezione
          [nomeElem]="'posti'"
          [elementi]="elementiPlatea"
          [(selezionato)]="postiPlatea"
        ></app-selezione>
      </div>
      <div [ngClass]="'container'">
        <p>Configura il Palco</p>
        <app-selezione
          [nomeElem]="'file'"
          [elementi]="elementiPalco"
          [(selezionato)]="filePalco"
        ></app-selezione>
        <app-selezione
          [nomeElem]="'posti'"
          [elementi]="elementiPalco"
          [(selezionato)]="postiPalco"
        ></app-selezione>
      </div>
    </div>

    <br />
    <button (click)="confermaSpettacoli()">Conferma</button>
    <br />
  </div>
</span>
