<div *ngIf="!login">
  <button (click)="getDati(false)">Accedi</button><br />
  <button (click)="getDati(true)">Gestione spettacoli</button>
</div>
<div *ngIf="login && admin == false">
  <input
    type="text"
    (keyup)="inInput($event)"
    placeholder="inserisci il tuo nome"
  /><br />
  <select *ngIf="nomeInserito" (change)="numeraSpettacolo($event)">
    <option selected="true" disabled="true" value="0">
      Seleziona lo spettacolo
    </option>
    <option
      *ngFor="let spettacolo of arrayNomeSpettacoli; let i = index"
      value="{{ i }}"
    >
      {{ spettacolo }}
    </option></select
  ><br />
  <div *ngIf="spettacoloScelto">
    <button (click)="generaTeatro(false)">Prenota</button>
    <button (click)="generaTeatro(true)">PrenotaZione Rapida</button>
  </div>
</div>
<app-teatro *ngIf="teatro" [teatro]="teatro"></app-teatro>
<br />
<br />
<button *ngIf="login" (click)="indietro()">Indietro</button>
