<div *ngIf="!login">
  <button (click)="getDati(false)">Accedi</button><br />
  <button (click)="getDati(true)">Gestione spettacoli</button>
</div>

<div *ngIf="login && !admin">
  <div *ngIf="!teatro">
    <select (change)="numeraSpettacolo($event)">
      <option selected="true" disabled="true" [value]="0">
        Seleziona lo spettacolo
      </option>
      <option
        *ngFor="let spettacolo of arrayNomeSpettacoli; let i = index"
        [value]="i"
      >
        {{ spettacolo }}
      </option></select
    ><br />
    <div *ngIf="spettacoloScelto">
      <button (click)="generaTeatro(false)">Prenota</button>
      <button (click)="generaTeatro(true)">Prenotazione Rapida</button>
    </div>
  </div>
  <div *ngIf="teatro">
    <input
      type="text"
      (keyup)="inInput($event)"
      [ngModel]="nomeInserito"
      placeholder="inserisci il tuo nome"
    /><br />
    <app-teatro
      [(nomeInserito)]="nomeInserito"
      [(teatro)]="teatro"
    ></app-teatro>
  </div>
</div>
<div *ngIf="login && admin">
  <app-gestore-spettacoli
    [(arrayNomeSpettacoli)]="arrayNomeSpettacoli"
    (nuovoSpettacoloEmitter)="aggiungiSpettacolo($event)"
  ></app-gestore-spettacoli>
</div>
<button *ngIf="login && !teatro" (click)="indietro()">Indietro</button>
<br />
